/* Hero.css */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f8fafc;
  color: #0f172a;
}

.hero img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  font-size: 1.8rem;
  font-weight: 90px;
  margin-bottom: 1rem;
  color: #0f172a;
}

.hero h1 span{
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.hero p {
  font-size: 1rem;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #334155;
}

.hero-action {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-connect {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
}

.hero-resume {
  position: relative;
  background-color: #2b0830;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  border: none;
  transition: all 0.3s ease;
}
.hero-resume::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, #df8908, #b415ff);
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.hero-resume:hover::before {
  opacity: 1;
}
.hero-connect:hover {
  transform: scale(1.05);
}



/* Responsive Design */

